{% extends "base.html" %}
{% block body %}
  <div class="items col-sm-8 col-sm-push-2">
    <div class="col-sm-4 categories">
    	{% if 'user' in session %}
        <h3>Categories
          <a href="{{ url_for('new_category') }}"><span class="glyphicon glyphicon-plus"></span></a>
        </h3>
      {% else %}
        <h3>Categories</h3>
      {% endif %}
      <ul class="nav nav-pills nav-stacked">
    		{% for i in categories %}
          {% if category == i %}
            <li role="presentation" class="active"><a href="{{ url_for('get_category',name=i.name) }}">{{i.name}}</a></li>
          {% else %}
            <li role="presentation"><a href="{{ url_for('get_category',name=i.name) }}">{{i.name}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm-4 latest">
    	<h3>Items
        {% if 'user' in session %}
          <a href="{{ url_for('new_item') }}"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
      </h3>
      <ul class="nav nav-pills nav-stacked">
    		{% for i in items %}
    		   <li role="presentation"><a href="{{ url_for('item_detail', category_name=i.category.name, item_name=i.name) }}">{{i.name}} ({{i.category.name}})</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}