{% extends "base.html" %}
{% block body %}
  <div class="items col-sm-6 col-sm-push-3">
  	<div class="col-sm-12">
  		<h3>{{item.name}} ({{item.category.name}})</h3>
  	</div>
    <div class="col-sm-12">
      {% if item.image %}
      	<p><img class="item_image" src="{{ url_for('static', filename='img_store/'+item.image) }}"></p>
   		{% endif %}
      <p>{{item.description}}</p>
      {% if 'user' in session and can_edit %}
        <a href="{{url_for('edit_item',category_name=item.category.name,item_name=item.name)}}">Edit</a>
        |
        <a href="{{url_for('delete_item',category_name=item.category.name,item_name=item.name)}}">Delete</a>
      {% endif %}
    </div>
  </div>
{% endblock %}